Repository bartsmykla/public-shared-renovate, changes with the owners that CODEOWNERS names for each.
All owners: @baumac, @adamdehaven, @ValeryG, @bartsmykla, @slonka, @lukidzi, @curiositycasualty, @Water-Melon, @fffonion

chore: Kong -> bartsmykla to test
  .github/renovate.json
  .github/scripts/sync-security-incidents.sh
  backend.json
  base/github-actions.json
  default.json
  github-actions-changed-files.json
  github-actions.json
  go.json
  kong-frontend-config.json
  overrides/security-labels.json
  overrides/security-reviewers.json
  security-base.json
  security-extended.json
  security/_incidents.json
  security/base.json
Owners: @baumac, @adamdehaven, @ValeryG, @bartsmykla, @slonka, @lukidzi

chore: adjustments for testing
  default.json
  helpers/debug.json
Owners: @baumac, @adamdehaven, @ValeryG, @bartsmykla

feat: improvements in prBodyNotes
  backend.json
  github-actions-changed-files.json
  github-actions.json
  go.json
  security-base.json
  security-extended.json
Owners: @bartsmykla, @baumac, @slonka, @lukidzi

feat: real fixes/improvements
  base/frontend.json
  default.json
  kong-frontend-config.json
  overrides/security-labels.json
  overrides/security-reviewers.json
  security/base.json
Owners: @baumac, @adamdehaven, @ValeryG, @bartsmykla

tmp
  backend.json
  base/frontend.json
  default.json
  helpers/debug.json
  kong-frontend-config.json
Owners: @bartsmykla, @baumac, @slonka, @lukidzi, @adamdehaven, @ValeryG

CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. They will be requested for review whenever someone
# opens a PR, unless a later match takes precedence.
* @baumac @adamdehaven @ValeryG @bartsmykla

# Please open a PR to add yourself to a package you would like to help maintain/contribute to!

/kong-frontend-config.json @baumac @adamdehaven @ValeryG

/base/frontend.json @baumac @adamdehaven @ValeryG

/github-actions.json @bartsmykla @baumac @slonka @lukidzi

/github-actions-changed-files.json  @bartsmykla @baumac @slonka @lukidzi

/backend.json @bartsmykla @baumac @slonka @lukidzi

/go.json @bartsmykla @baumac @slonka @lukidzi

/base/go.json @bartsmykla @baumac @slonka @lukidzi

/makefile.json @bartsmykla @baumac @slonka @lukidzi

/security-base.json @bartsmykla @baumac @slonka @lukidzi

/security-extended.json @bartsmykla @baumac @slonka @lukidzi

/scoped/kong/gateway.json @curiositycasualty @Water-Melon @fffonion

/scoped/kuma @bartsmykla @slonka @lukidzi
